
/* 
#anime{
    width: 100%;
    height: 740px;
   background-image: url(../img/sky.jpg);
   position: relative;
}

.container{
   
background-image: url(../img/city.png);

width: 100%;
height: 250px;
position: absolute;
top: 300px;

animation-name: example;
animation-duration: 4s;

}



.container2{
background-image: url(../img/road.jpg);
width: 100%;
height: 200px;
position: absolute;
top: 540px;

}

@keyframes example{


} */


























