
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}





[class*="col-"]{
    float: left;
}

.col-9{
    width: 75%;
}

.col-3{
    width: 25%;
}

.col-12{
    width: 100%;
    
}
.col-6{
    width: 50%;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-10{
    width: 83.33%;
}
.col-4{
    width: 33.33%
}
.col-5{
    width: 41.66%
}
.col-11{
    width: 91.66%
}
.col-7{
    width: 58.33%
} 
.col-8{
    width: 66.66%
}


/* header section start */
#header{

}
#header .container .row .col-12{
}    

#header .container .row .col-12 h1{
    font-weight: bolder;
    font-size: 3.5em;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
}
#header .container .row .col-12 h1 span.logo_content{
    font-size: 2em;
    display: inline;
    position: relative;
    top: 20px;
    color: #dc9617;
}

.p20{
    padding: 20px; 
    background-color: #4a4343;
}



#header .container .row ul.nav{
    background-color: red
}

#header .container .row ul.nav li{
    display: inline;
    padding: 20px;
    border-right: thin solid #000000;
}

#header .container .row ul.nav li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #ffffff;

}



/* end */
/* main stat */
main .container .row .col-8 .img_surr{
    width: 400px;
    height: 100px;
    border: 3px solid red;
}

.p21{
    padding: 20px;
}

































