//Colors
$main-color:#5e72e4;
$title-color: #32325d;

//Font sizes
$title-size: 35px;
$sec-title-size: 20px;
$btn-size: 14px;
$text-size: 16px;

//Font family
$main-font:'Source Sans Pro', sans-serif;
